.notification{
    position: fixed;
    bottom: 20px;
    right: -100vw;
    background-color: #fff;
    border-radius: 13px;
    padding: 20px 30px;
    z-index: 1000;
    transition: .3s;
    box-shadow: 0 0 5px black;
    .closeX{
        position: absolute;
        top: 5px;
        right: 10px;
    }
    &.show{
        right: 20px;
    }
}